<div class = "navbar">
  <a href = "https://www.blupatch.herokuapp.com"><img src = "/img/bluPatch.png" align ="left" style="padding-left: 10px;" width="183" height="64"> </a>
  <a class ="navbar-page" href="#" id="login">login</a>
  <a class ="navbar-page" href="#" id="map">map</a>
  <a class ="navbar-page" href="#" id="talks">talks</a>
  <a class ="navbar-page" href="/about" id="about">about</a>
</div>